body{
    background-image:url("image/elden-ring-all-site-of-grace-locations-646338309.png") ;
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
}

a{
    color: chartreuse;
}